{% extends 'base.html.twig' %}

{% block title %}There was an Error{% endblock %}

{% block body %}

<h1>There was an error!</h1>
<h2>{{ message }}</h2>
<h3>If this error keeps happening, please contact the administrator-team</h3>
{% endblock %}